@charset "UTF-8";

$text-mainColor: #2e3a59;

* {
  box-sizing: border-box;
}


html,
body {
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: $text-mainColor;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  width: 100%;
  background-color: #fff;
  position: relative;
}

h1,
h2,
h3,
h4,
p,
a,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}